mat-grid-list {
    text-align: center;
  }
  
  .final-score {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    font-size: xx-large;
    font-family: "Audiowide";
    font-weight: bolder;
    margin-left: 5px;
  }
  
  .filled-final-score-player-one {
    background-color: red;
  }
  
  .filled-final-score-player-two {
    background-color: blue;
  }
  
  .space-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    color: white;
    font-size: large;
    font-family: "Audiowide";
    margin-left: 5px;
    margin-bottom: 5px;
  }
  
  .filled-space-button-player-one {
    background-color: red;
  }
  
  .filled-space-button-player-two {
    background-color: blue;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  .winner {
    font-family: "Audiowide";
    font-size: x-large;
    font-weight: bolder;
    display: inline;
    margin-top: 5px;
  }
  
  .refresh-button {
    margin-top: 5px;
    background-color: black;
  }
  
  .score-board {
    border: 10px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .horizontal-line {
    width: 90%;
    border-top: 5px solid black;
    margin: 5px auto;
    text-align: center;
  }
  
  .winner-text {
    margin-top: 10px;
  }