<mat-toolbar>
  <img src="assets/img/blackhole.png" />
  <span>Blackhole</span>
</mat-toolbar>

<div class="menu-buttons">
  <button mat-icon-button [ngClass]="{'hidden':this.ai == true}" (click)="changeAi()" class="menu-button" [disabled]="!isEnabled">
    <mat-icon>people</mat-icon>
  </button>
  <button mat-icon-button [ngClass]="{'hidden':this.ai == false}" (click)="changeAi()" class="menu-button" [disabled]="!isEnabled">
    <mat-icon>android</mat-icon>
  </button>
  <button mat-icon-button (click)="undo()" [disabled]="!canUndo || !isEnabled" class="menu-button">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button (click)="restart()" [disabled]="!canUndo || !isEnabled" class="menu-button">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="help()" class="menu-button" [disabled]="!isEnabled">
    <mat-icon>help</mat-icon>
  </button>
</div>

<mat-grid-list cols="1">
    <button mat-fab class="space-button" (click)="addPiece(space.id)"
    *ngFor="let space of game.board.spaces.slice(0,1)"
    [disabled]="!isEnabled"
    [ngClass]="{'filled-space-button-player-one':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 0,'filled-space-button-player-two':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 1}">
      {{this.game.board.spaces[space.id].containingPiece?.value}}
    </button>
  </mat-grid-list>
  
  <mat-grid-list cols="2">
    <button mat-fab class="space-button" (click)="addPiece(space.id)"
    *ngFor="let space of game.board.spaces.slice(1,3);"
    [disabled]="!isEnabled"
    [ngClass]="{'filled-space-button-player-one':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 0,'filled-space-button-player-two':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 1}">
      {{this.game.board.spaces[space.id].containingPiece?.value}}
    </button>
  </mat-grid-list>
  
  <mat-grid-list cols="3">
    <button mat-fab class="space-button" (click)="addPiece(space.id)"
    *ngFor="let space of game.board.spaces.slice(3,6);"
    [disabled]="!isEnabled"
    [ngClass]="{'filled-space-button-player-one':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 0,'filled-space-button-player-two':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 1}">
      {{this.game.board.spaces[space.id].containingPiece?.value}}
    </button>
  </mat-grid-list>
  
  <mat-grid-list cols="4">
    <button mat-fab class="space-button" (click)="addPiece(space.id)"
    *ngFor="let space of game.board.spaces.slice(6,10);"
    [disabled]="!isEnabled"
    [ngClass]="{'filled-space-button-player-one':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 0,'filled-space-button-player-two':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 1}">
      {{this.game.board.spaces[space.id].containingPiece?.value}}
    </button>
  </mat-grid-list>
  
  <mat-grid-list cols="5">
    <button mat-fab class="space-button" (click)="addPiece(space.id)"
    *ngFor="let space of game.board.spaces.slice(10,15);"
    [disabled]="!isEnabled"
    [ngClass]="{'filled-space-button-player-one':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 0,'filled-space-button-player-two':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 1}">
      {{this.game.board.spaces[space.id].containingPiece?.value}}
    </button>
  </mat-grid-list>
  
  <mat-grid-list cols="6">
    <button mat-fab class="space-button" (click)="addPiece(space.id)"
    *ngFor="let space of game.board.spaces.slice(15,21);"
    [disabled]="!isEnabled"
    [ngClass]="{'filled-space-button-player-one':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 0,'filled-space-button-player-two':this.game.board.spaces[space.id].containingPiece != undefined && this.game.board.spaces[space.id].containingPiece.player == 1}">
      {{this.game.board.spaces[space.id].containingPiece?.value}}
    </button>
  </mat-grid-list>

  <mat-grid-list cols="1">
    <button mat-fab [ngClass]="{'filled-space-button-player-one':this.game.pieces[0]?.player == 0, 'filled-space-button-player-two':this.game.pieces[0]?.player == 1}">
        {{this.game.pieces[0]?.value}}
    </button>
</mat-grid-list>