mat-grid-list {
    text-align: center;
  }

  mat-toolbar {
    margin-bottom: 20px;
  }

span {
  font-family: "Audiowide";
}
  
img {
  height: 100%;
    margin-right: 15px;
}

  .hidden {
    visibility: hidden;
  }
  
  button {
    margin-left: 5px;
  }
  
  .space-button {
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    font-family: "Audiowide";
  }
  
  .filled-space-button-player-one {
    color: white;
    font-size: large;
    background-color: red;
  }
  
  .filled-space-button-player-two {
    color: white;
    font-size: large;
    background-color: blue;
  }
  
  .menu-buttons {
    display: grid;
    position: fixed;
    z-index: 100;
    margin-top: -25px;
}

  .menu-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-size: x-large;
    padding: 0px;
}